<%- include minecraft/header.ejs %>
<body>
  <div id="main">
    <div id="header">
      <div id="logo">
        <h1><a href="/">Glenus</a></h1>
      </div>
	  <div id="site_content">
		<p>
        <h1><p style="margin-left:100px"><a href="minecraft/index">minecraft</a></p></h1>
		<p>
		<p>
        <h1><p style="margin-left:100px"><a href="bloodline/index">11服-茶會</a></p></h1>
		<p>
      </div>
	</div>
</body>
</html>