<%- include mincraftHeader %>

    <div id="site_content">
      <div id="content">
        <!-- insert the page content here -->
        <h3 align="left">世界地圖        </h3>
        <br><br><br><br>
        <iframe src="http://glenus.com:8123/" width="800" height="600"  frameborder="0"></iframe>
		<br><br><br><br>
      </div>
    </div>
    <div id="footer">
      <p>Copyright &copy; 2015 Glenus</p>
    </div>
  </div>
</body>
</html>
