<%- include mincraftHeader %>

    <div id="site_content">
    <div id="sidebar_container">
        <img class="paperclip" src="style/paperclip.png" alt="paperclip" />
        <div class="sidebar">
        
        <h3>Shiginima Launcher SE v1.500</h3>
        <h4>主程式</h4>
        <h5>可運行至1.8.0</h5>
        <p><br /><a href="https://dl.dropboxusercontent.com/u/53852418/mineCraft/Shiginima%20Launcher%20SE%20v1.500.exe">下載點</a></p>
        </div>
        <img class="paperclip" src="style/paperclip.png" alt="paperclip" />
        <div class="sidebar">
          <h3>Huzuni 3.3.2.zip</h3>
          <h4>外掛模組</h4>
          <h5>只能運行於1.7.9</h5>
          <p><br /><a href="https://dl.dropboxusercontent.com/u/53852418/mineCraft/Huzuni%203.3.2.zip">下載點</a></p>
      </div>
      </div>
      <div id="content">
        <!-- insert the page content here -->
        <h3 align="left">說明        </h3>
        <h2>主程式:</h2>
        <p>步驟:        </p>
        <ol>
          <li>先將Shiginima Launcher SE v1.500打開</li>
          <li>它會要求你輸入User Name，同時也會是你遊戲中的ID</li>
          <li>打開以後左下角有一個"Edit Profile"，找到"UseVersion"，下拉選擇"1.7.9" 按"Save Profile"，然後點正中下方那個大大的PLAY，進入遊戲</li>
        </ol>
        <h2>關於Huzuni:</h2>
        <ol>
          <li>將Huzuni解壓縮後，將整個資料夾複製到以下的路徑:<br>
Windows: %appdata%\.minecraft/versions<br>
Linux: ~/.minecraft/versions<br>
Mac OS X: ~/Library/Application Support/minecraft/versions</li>
          <li>打開Shiginima Launcher 後，左下角有一個"new Profile"，下拉選擇"huzuni" 按"Save Profile"，然後進入遊戲</li>
        </ol>
        <br><br><br><br>
      </div>
    </div>
    <div id="footer">
      <p>Copyright &copy; 2015 Glenus</p>
    </div>
  </div>
</body>
</html>
