<%- include mincraftHeader.ejs %>

    <div id="site_content">
      <div id="content">
        <!-- insert the page content here -->
         <div id="thumbs">
        <!-- <img src="image/2014-05-04 23.40.09.png" width="800" height="600"/>-->
	        <a href="image/image01.png" style="background-image:url(image/image01.png)" title="2014-04-27"></a>
            <a href="image/image03.png" style="background-image:url(image/image03.png)" title="2014-05-04"></a>
            <a href="image/image04.png" style="background-image:url(image/image04.png)" title="2014-05-04"></a>
            <a href="image/image05.png" style="background-image:url(image/image05.png)" title="2014-05-04"></a>
            <a href="image/image06.png" style="background-image:url(image/image06.png)" title="2014-05-04"></a>
            <a href="image/image07.png" style="background-image:url(image/image07.png)" title="2014-05-04"></a>
            <a href="image/image08.png" style="background-image:url(image/image08.png)" title="2014-05-06"></a>
            <a href="image/image09.png" style="background-image:url(image/image09.png)" title="2014-05-20"></a>
            <a href="image/image10.png" style="background-image:url(image/image10.png)" title="2014-05-20"></a>
            <a href="image/image11.png" style="background-image:url(image/image11.png)" title="2014-05-20"></a>
            <a href="image/image12.png" style="background-image:url(image/image12.png)" title="2014-05-21"></a>
            <a href="image/image13.png" style="background-image:url(image/image13.png)" title="2014-05-21"></a>
            <a href="image/image14.png" style="background-image:url(image/image14.png)" title="2014-05-21"></a>
            <a href="image/image15.png" style="background-image:url(image/image15.png)" title="2014-05-23"></a>
            <a href="image/image16.png" style="background-image:url(image/image16.png)" title="2014-05-23"></a>
            <a href="image/image17.png" style="background-image:url(image/image17.png)" title="2014-06-03"></a>
            <a href="image/image18.png" style="background-image:url(image/image18.png)" title="2014-06-06"></a>
            <a href="image/image19.png" style="background-image:url(image/image19.png)" title="2014-06-08"></a>
            <a href="image/image20.png" style="background-image:url(image/image20.png)" title="2014-10-24"></a>
            
        </div>
      </div>
    </div>
    <div id="footer">
      <p>Copyright &copy; 2015 Glenus</p>
    </div>
  </div>
  <script src="assets/js/jquery-1.7.1.min.js"></script>
  <script src="assets/touchTouch/touchTouch.jquery.js"></script>
  <script src="assets/js/script.js"></script>
</body>
</html>
