<!DOCTYPE html>
<html>
<head>
  <title>Glenus: <%= title %></title>
  <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
  <meta name="description" content="website description" />
  <meta name="keywords" content="website keywords, website keywords" />
  <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.6.2/jquery.min.js"></script>
  <script src="dist/handsontable.full.js"></script>
  <link rel="stylesheet" media="screen" href="dist/handsontable.full.css"/>
  <link rel="stylesheet" type="text/css" href="main.css"/>
  <script type="text/javascript" src="main.js"></script>
</head>
<%- include bar.ejs %>