<%- include second_header.ejs %>
	<div id="content">
		<h3>-----------------------隊伍配置----------------------</h3>
		<div id="deploy" style="float:none;"></div>
		<script>
			getDeploy();
		</script>
	</div>
</body>

</html>